@{
    ViewBag.Title = "Home";
    ViewBag.Message = "Wren Thicket Market";
}
<div class="appform">
    <div class="navbar-fixed-top" id="title">
        <div class="row" id="title-row">
            <div class="col-xs-3 col-sm-2 padding-right-0">
                <a class="" href="/Home/Index" id="title-logo-link">
                    <img src="~/Content/Images/WTMLogoMobile.png" alt="Wren Thicket Market">
                </a>
            </div>
            <div class="col-xs-3 hidden-xs padding-left-0">
                <div class="frame-left">
                    <span class="helper"></span>
                    <a class="hidden-xs" href="/Home/Index" id="title-label-link">Wren Thicket Market</a>
                </div>
            </div>     
            <div class="col-xs-3 col-sm-2 ">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="frame">
                            <span class="helper"></span>
                            <img id="opensign" src='' alt=''>
                        </div>
                    </div>
                    <div class="col-sm-6">
                    </div>
                </div>
            </div>
            <div class="col-xs-3 col-sm-2">
                <div class="frame">
                    <span class="helper"></span>
                    @if (User.Identity.IsAuthenticated)
                    {

                        @*<button type="button" class="btn-lg btn-cp" data-url='@Url.Content("~/Account/Logoff")'>Log Off</button>*@
                        @Html.ActionLink(linkText: "Log Off", actionName: "Logoff", controllerName: "Account", routeValues: new { }, htmlAttributes: new { @class = "btn-xs" })
                    }
                    else
                    {
                        @Html.ActionLink(linkText: "Log In / Register", actionName: "Login", controllerName: "Account", routeValues: new { }, htmlAttributes: new { @class = "btn-xs" })
                    }
                </div>
            </div>
            <div class="col-xs-3" id="shoppingbasket">
                <div id="mycarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src='/Content/Images/shoppingbasket.png' alt="" class="img-responsive center-block">
                            <div id="CartDiv" class="carousel-caption shoppingtext">
                                <a href='/Order/Review'>
                                    <p id='CartLabel'></p>
                                    <p id='CartCount'></p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>        
