@{
    ViewBag.Title = "Home";
    ViewBag.Message = "Wren Thicket Market";
}
<div class="container">
    <div class="panel-group first-panel">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="marketAbout">
                <h4 class="panel-title">About the Market</h4>
            </div>
            <div class="panel-body background75">
                @Html.ActionLink(linkText: "Market", actionName: "Index", controllerName: "Home", routeValues: new { }, htmlAttributes: new { @class = "btn-xs btn-cp" })
                <p>
                    <b>Wren Thicket Market is a group of small family owned and operated farms and artisans located in the Northwest Arkansas area.</b><br/>
                    Together we provide our cherished customers with a variety of high quality locally grown seasonal vegetables, fruits, cut flowers and plants. We offer locally raised meats and eggs, as well as locally made baked, fermented and canned goods. We have handmade artisan cheeses, popsicles and ice cream. We also offer some select products that cannot be grown in our area, such as direct trade relationship whole bean coffee that is then locally fresh roasted. Another is organic olives and olive oils from a grove in California, also through a direct long time friendship with the farm family there. We have several local artisan crafters offering their own beautiful unique works and products.
                    We feel privileged to be able to bring you fresh, nutritious food and wholesome products grown and made with love and pride! We value our customer relationships and thank you for your support!
                </p>
                <br/>
                <p>
                    For individual farm or artisan information visit each under the “ABOUT” tab.
                </p>
                <br/>
                <p>
                    <b>Wren Thicket Market is a year around pre-order farmers’ market.</b><br/>
                    Our offerings change each week as seasons go by; some of our partner farms rotate this market as they have product available, others have product each week.
                    Every week the available products for sale that week will be listed in the MARKET PRODUCTS section. Under BROWSE conveniently shop by categories or partner.
                    We are a little different than a traditional farmers’ market in that <b>you may pre-order</b> (or in other words, reserve your desired products) online <b>from “post time” Monday thru 10 am Thursday.</b> Look for the “Pre-Ordering Open” or “Pre-Ordering Closed” sign.
                    You can then <b>pick -up your pre-order on Saturday</b> at our market location, <b>1041 S. School Ave.</b> in Fayetteville, AR between <b>9am and 12 Noon.</b> Look for our banner sign out front with the wren logo!
                    The benefit of ordering ahead is that your selected items will be there waiting for you at the time you choose to arrive! You don’t have to get to our market at the crack of dawn to get the best products! Pre-ordering also helps us as farmers to know what to harvest and bring each week. Pre-ordering is recommended, we fill pre-orders first and bring any extras to sell from the tables. Please keep in mind some items may be in limited supply, pre-orders are filled in the order they are received!
                    When you come on Saturday go to each vendors table to pick up your pre-orders. Payment can be cash or checks, several vendors do accept credit/ debit cards. We also accept SNAP/EBT and Senior Farmers Market Nutrition Program coupons.
                </p>
                <br/>
                <p>
                    We do sell our extra products off the table’s traditional farmers’ market style in case you don’t get a pre- order in! Just come on by!
                </p>
                <br/>
                <p>
                    Market manager contact:<br/>
                    Deb (Debra Elam-McDonald) at <span><a href="mailto:manager@wrenthicketmarket.com">Manager@WrenThicketMarket.com</a></span>
                </p>
            </div>
        </div>
    </div>
</div>
