@{
    ViewBag.Title = "Home";
    ViewBag.Message = "Wren Thicket Market";
}
<div class="container">
    <div class="panel-group first-panel">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="marketFAQs">
                <h4 class="panel-title">Frequently Asked Questions</h4>
            </div>
            <div class="panel-body background75">
                @Html.ActionLink(linkText: "Market", actionName: "Index", controllerName: "Home", routeValues: new { }, htmlAttributes: new { @class = "btn-xs btn-cp" })
                <p>
                    <b>Where is the market located?</b><br/>
                    1041 S. School Ave. in Fayetteville, Arkansas. We are next door to the Farmer’s Table Café. Look for our market banner signs out front.
                </p>
                <br/>
                <p>
                    <b>What are market hours?</b><br/>
                    9 AM to 12 Noon on Saturday, year around!
                </p>
                <br/>
                <p>
                    <b>How do I pre-order?</b><br/>
                    First you need to register and then just log in each time you would like to place a pre-order. You may shop by product categories or shop by individual farm or artisan.
                </p>
                <br/>
                <p>
                    <b>Is there a fee or membership to pre-order?</b><br/>
                    No, all you need to do is register so you can log in to pre-order each time.
                </p>
                <br/>
                <p>
                    <b>When is pre-ordering open?</b><br/>
                    Post time (varies) on Monday until 10 am on Thursday. Our farmers and artisans then have Thursday and Friday to harvest and get your pre-orders together. Look for our PRE-ORDERING OPEN or PRE-ORDERING CLOSED sign.
                </p>
                <br/>
                <p>
                    <b>Do I have to pre-order?</b><br/>
                    No, our farmers and artisans do set up tables and sell extra products “traditional farmers’ market style”, but pre-ordering is to everyone’s advantage. It reserves your desired products until you can get to the market for pick-up. Sometimes products are in limited supply and pre-orders are always filled first and in the order that they are received. Plus it helps us as farmers to know how much we need to harvest, thus decreasing wasted product.
                </p>
                <br/>
                <p>
                    <b>When do I pick up my order?</b><br/>
                    Anytime between 9 AM and 12 Noon on Saturday.
                </p>
                <br/>
                <p>
                    <b>How do I get my order once I am at the market?</b><br/>
                    Go to each farm or artisan’s table that you have pre-ordered from to pick-up your products.
                </p>
                <br/>
                <p>
                    <b>What do I do if a farm I pre-ordered from is not at the market?</b><br/>
                    See the market manager. If a vendor is unable to be at the market that day the manager will have the products or know where to direct you.
                </p>
                <br/>
                <p>
                    <b>What if I forget what I pre-ordered?</b><br/>
                    The manager will have a master list of all pre-orders for that day.
                </p>
                <br/>
                <p>
                    <b>What is the accepted method of payment?</b><br/>
                    Each vendor collects payment for their products. Most accept checks, some accept credit/debt cards, and all accept cash of course!
                </p>
                <br/>
                <p>
                    <b>Is Supplemental Nutrition Assistance Program / Electronic Benefit Transfer (SNAP/EBT) accepted at Wren Thicket Market?</b><br/>
                    Yes, pre-order or drop buy and shop the tables as usual. However you will need to see the market manager first for instruction on how our market accepts SNAP/EBT before you can make purchases from the vendors.
                </p>
                <br/>
                <p>
                    <b>Is Senior Farmers’ Market Nutrition Program (SFMNP) coupons and Women, Infant and Children benefits (WIC) accepted at Wren Thicket Market?</b><br/>
                    Yes, we accept SFMNP coupons, but individual farms have to be a participating vendor to take these coupons as payment. Each farm must post a sign if they can accept the coupons.
                </p>
                <p>We are not currently accepting WIC benefits.</p>
                <br/>
                <p>
                    <b>Can I cancel a pre- order?</b><br/>
                    Yes, pre-orders may be cancelled on line anytime up to the pre-ordering close time at 10am on Thursday. Go to the ACCOUNT tab and select ORDERS from the drop down menu. Click the CANCEL button next to the order. If you need to cancel an order after the pre-ordering period has ended please email Deb, the market manager.
                </p>
                <br/>
                <p>
                    <b>What if I forget to pick up my order?</b><br/>
                    We do understand things happen unexpectedly at times but please be mindful of any pre-orders you have placed. Forgotten pre-orders means missed sales and wasted products for our farmers, and if the product is limited in amounts, missed purchases by other customers. You could be ask to go ahead and purchase the items. Repeat offenders will be asked to just drop by and shop from the tables only.
                </p>
                <br/>
                <p>
                    <b>Are all growers certified organic?</b><br/>
                    No, our farmers vary in their growing methods. Most do not use any chemical methods, those that do use only if necessary. All are very conscious of health and environment concerns. Please read about our farms and artisans under the ABOUT tab for individual details.
                </p>
                <br/>
                <p>
                    <b>What is the Market’s inclement weather policy?</b><br/>
                    It is a situation by situation basis, but in general if the weather is bad for whatever reason we will cancel the market. Notice will be sent out as early as possible by email as well as posted on the website if there is ever a cancellation. Then efforts will be made, if possible, to have an alternate day scheduled for pre-order pick-up. And there again we will send an email notice and post on the website.
                </p>
                <br/>
                <p>
                    <b>How do I contact the manager of the market?</b><br/>
                    Please email Deb (Debra Elam- McDonald) at <span><a href="mailto:manager@wrenthicketmarket.com">Manager@WrenThicketMarket.com</a></span>. Your email will be answered just as soon as possible.
                </p>
                <br/>
            </div>
        </div>
    </div>
</div>