@model IEnumerable<CoPilot.Models.Partner>
@{
    ViewBag.Title = "Home";
    ViewBag.Message = "Wren Thicket Market";
}
<div class="container">
    <div class="panel-group first-panel">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="marketPartners">
                <h4 class="panel-title">About the Partners</h4>
            </div>
            <div class="panel-body background75">
                <p>
                    @Html.ActionLink(linkText: "Market", actionName: "Index", controllerName: "Home", routeValues: new { }, htmlAttributes: new { @class = "btn-xs btn-cp" })
                </p>
                <ul>
                    @foreach (var partner in Model)
                    {
                        <li>@Html.ActionLink(linkText: partner.Name, actionName: "Partner", controllerName: "Home", routeValues: new { partnerId = partner.PartnerId }, htmlAttributes: new { @class = "btn-xs btn-cp" })</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>