
.control-box {
    margin-bottom: 5px;
}

.search-box {
    margin: 0;
}

.action-box {
    margin: 0 50px 0 0;
    min-height: 0;
}

    .action-box .toolbaritem a {
        padding-top: 5px;
        padding-bottom: 5px;
        min-width: 100px;
    }

    .role-table {
        display: flex;
        flex-direction: column;
    }

    .role-table .header {
        display: flex;
        background-color: #027FF4;
        height: 27px;
        padding: 5px;
    }

    .role-table .header .child{
        width: 30%;
        font-weight: bold;
        color: white;
    }

    .role-table .body {
        display: flex;
        height: 27px;
        padding: 5px;
    }

    .role-table .body .child {
        width: 30%;
    }
@media (max-width: 768px) {
    .action-box {
        margin: 0 14px;
    }
}
